#!/usr/bin/make -f

%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure -- \
            -DCMAKE_INSTALL_PREFIX_INITIALIZED_TO_DEFAULT=yes \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_INSTALL_PREFIX=/usr \
            -DBUILD_TESTING=OFF 
#          -DDEBIAN_NO_DEMOS=1

override_dh_auto_install:
	dh_auto_install --destdir=$(CURDIR)/debian/tmp

